
body {
    font-family: Arial;
    background: #f3f4f6;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    background: white;
    padding: 20px;
    width: 400px;
    border-radius: 12px;
    box-shadow: 0 0 10px  #ccc;
}

.expense-form input,
.expense-form select {
    margin: 5px;
    padding: 8px;
}

.expense-item {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.filter-bar {
    margin: 10px 0;
}